body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ff6f00;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  .species {
    background-color: rgb(252, 248, 248);
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .species img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  button {
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e65c00;
  }
  
  .more-info {
    display: none;
  }
  
  .more-info img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 10px;
  }
  
  
  footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
  }
  